* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	background-image: url('https://www.transparenttextures.com/patterns/graphy-dark.png');
}
.calc-wrapper {
	max-width: 700px;
	margin: 0 auto;
	background: #bcbcbc;
	padding: 35px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#display {
	background: #beb9a5;
	border-radius: 5px;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
}
.buttons {
	display: flex;
	gap: 10px;
	margin: 15px 0 0;
}
.buttons .numbers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.buttons .operators {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
button {
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.5); /* Chiclet key shadow */
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s;
}
button:hover {
	background-color: #e0e0e0;
}
button:active {
	background-color: #d1d1d1;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Pressed effect */
}
button:focus {
	outline: none;
	box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
}
.buttons .operators button {
	font-size: 20px;
	background: rgb(255, 162, 0);
}
.buttons .operators button {
	font-size: 20px;
	background: rgb(255, 162, 0);
}
.buttons .operators button:hover {
	background: rgb(236, 150, 2);
}
.buttons .numbers button.decimal {
	font-size: 32px;
	line-height: 19px;
}
.buttons .numbers button.delete {
	font-size: 13px;
}
.buttons .operators button.clear {
	font-size: 13px;
}
